<div class="followus">
  <a href="{{options.facebook}}"><img src="{{theme.link}}/assets/images/facebook.svg"></a>
  <a href="{{options.twitter}}"> <img src="{{theme.link}}/assets/images/twitter.svg"> </a>
  <a href="{{options.instagram}}"> <img src="{{theme.link}}/assets/images/instagram.svg"> </a>
</div>